.logo_image{
    float : left;
    max-width: 100px;
    max-height: 100px;
}
.main_heading{
    font-family: 'Fredoka One', cursive;
    padding-top: 25px;
}
.p1_dice{
    max-width: 250px;
    max-height: 250px;
}
.p2_dice{
    max-width: 250px;
    max-height: 250px;
}
.container{
    padding-bottom: 20px;
}